In [1]:
from faker import Faker
import pandas as pd
import random
import os

faker = Faker()

In [2]:
# Randomly generate phone numbers in xxx-xxx-xxxx format

def generate_phone_number():
    global generate_phone_number
    area_code = str(random.randint(100, 999))
    middle = str(random.randint(100,999))
    last = str(random.randint(1000,9999))
    return '{}-{}-{}'.format(area_code, middle, last)

In [3]:
# Randomly generate year between 1950 to 2000

def birth_year():
    year = faker.random_int(1950, 2000)
    return year

In [4]:
#Randomly generate whether people own or rent housing

def housing():
    housing_list = ['Own', 'Rent']
    return random.choice(housing_list)

In [5]:
# Create a function that will allow users to iterate a dataframe

def input_data():
    person_data = [{"Name": faker.name(),
                    "Address": faker.address(),
                    "Phone Number": generate_phone_number(),
                    "Email Address": faker.email(),
                    "Birth Year": birth_year(),
                    "Number of Kids": faker.random_int(0,5),
                    "Annual Income": faker.random_int(30000, 150000, 1000),
                    "Housing": housing(),
                    "Number of Speeding Tickets in Past Year": faker.random_int(0,3)}
                   for i in range(input_value)]
    return person_data

In [6]:
# Ask the user for input and generate a dataframe with user's request
input_value = int(input("How many records would you like? "))

df = pd.DataFrame(input_data())
df

How many records would you like? 10

,Name,Address,Phone Number,Email Address,Birth Year,Number of Kids,Annual Income,Housing,Number of Speeding Tickets in Past Year
0,Timothy Perkins,"340 Christopher Cliff Apt. 522\nDavidmouth, ME...",671-446-9388,pmacias@duncan.com,1950,3,52000,Rent,1
1,Amy Miles,"657 Micheal Hill\nNorth Andrew, IN 90247",965-198-1936,dvalencia@yahoo.com,1993,0,97000,Rent,2
2,Ashley Macias,"5550 Diaz Crossing\nSamanthaside, AK 40535",940-837-5399,tferguson@gmail.com,1955,3,63000,Rent,1
3,Alexis Delgado,39955 Alan Valley Apt. 934\nSouth Christopherv...,953-928-6478,david57@foster.info,1997,5,49000,Own,3
4,Robert Rivera,"958 Natalie Curve\nLake Cindy, RI 46356",711-472-2531,morrowwilliam@turner.com,1976,0,46000,Rent,0
5,Donald Moore,"603 Taylor Brooks\nLake Terryburgh, NJ 92590",204-919-5675,jenniferchambers@gmail.com,1988,3,47000,Own,2
6,Jordan Hartman,Unit 3660 Box 2141\nDPO AE 58202,932-809-8155,esmith@gmail.com,1971,5,30000,Own,3
7,Linda Hudson,"3067 Carol Mission Suite 496\nMollybury, MT 37012",397-802-7792,williamroberts@choi.net,1994,5,41000,Own,2
8,Jon Andrews,"350 Berry Via\nSouth Christopherfort, NE 03043",458-230-4794,hwatkins@gmail.com,1967,1,94000,Own,1
9,David Brown,"2236 Smith Dale\nHernandezton, SD 30203",762-183-4047,joshuayoung@gmail.com,1987,2,92000,Own,1

In [7]:
# Export the dataframe to csv file

base_path = "C:\\Users\\HaChoi\\Documents\\Admin\\School\\Classes\\DATA601"
output_file = "people_data.csv"
csv_output = os.path.join(base_path, output_file)

df.to_csv(csv_output, index = False)

In [8]:
# Export the dataframe to JSON file

output_file = "people_data.json"
json_output = os.path.join(base_path, output_file)

df.to_json(json_output, orient = 'records')